html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../pdp.jpg);
    background-size: cover;
    background-color: #191919;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
   color: rgb(65, 177, 0);
   font-size: 40px; 
   cursor: pointer;
}

span{
    color: aliceblue;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: blanchedalmond;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
     color: gold;
}

.btn{
    background-color: #f9004d;
    color: rgba(255, 255, 255, 0.966);
    text-decoration: none;
    font-weight: bold;
    border: 2px solid;
    padding: 10px 25px;
    border-radius: 30px;
}

.btn:hover{
    transform: scale(1.2);
}

.content{
    left: 8%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

h1{
    color: wheat;
    margin: 20px 0px 20px;
    font-size: 75px ;
}

h3{
    color: wheat;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: wheat;
    font-size: 20px;
}

.newslatter{
    width: 300px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px; 
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.about-text h2{
    color: wheat;
    font-size: 75px;
    margin-bottom: 20px;
}

.about-text h5{
    color: wheat;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-text p{
    color: #fcfc;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
    background-color: #f9004d;
    color: wheat;
    text-decoration: none;
    border: 2px solid;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

button:hover{
    border: 2px solid  #f9004d;
    cursor: pointer;
}

.services{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: rgb(201, 139, 23);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    text-align: center;
}

h5{
    font-size: 24px;
    margin-bottom: 15px;
    color: wheat;
}

.pra p{
    line-height: 27px;
    margin-bottom: 25px;
    font-size: 17px;
    color: #fcfc;
}

.card .button{
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    padding: 9px 24px;
    color: beige;
    background-color: #f9004d;
}

.card .button:hover{
    cursor: pointer;
    border: 2px solid #f9004d;
    background-color: transparent;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-me p{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: bisque;
}

.contact-me .button-two{
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: wheat;
    background-color: #f9004d;
}

.contact-me .button-two:hover{
    cursor: pointer;
    border: 2px solid #f9004d;
    background-color: transparent;
}

footer{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: #101010;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-weight: bold;
    font-size: 30px;
    color: wheat;
    margin-bottom: 20px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #f9004d;
    margin: 22px 10px;
}

.end{
    font-size: 15px;
    position: absolute;
    color: #f9004d;
    bottom: 35px;
}